<div class="card text-center">
  <div class="card-header">
    Let's Begin!
  </div>
  <div class="card-body">
    <h5 class="card-title">
            <input class="form-control form-control-lg" type="text" placeholder="Title">
    </h5>
    <p class="card-text">
        <input class="form-control form-control-sm" type="text" placeholder="Your blog goes here!">

    </p>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>
  <div class="card-footer text-muted">
  </div>
<a class="btn btn-primary" href="/views/bloghomepage.handlebars" role="button">Link</a></div>