<h1 class="display-4">Let's Blog About it!</h1>

{{#each blog as |blog| }}
{{>blogcard}}
{{/each}}

<a href="/views/myblogs.handlebars" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Blog About It!</a>
