<h1 class="display-4">Let's Blog About It!</h1>

    <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<a class="btn btn-primary" href="/views/bloghomepage.handlebars" role="button">Login</a>

    <h2>Signup</h2>

  <div class="form-floating mb-3">
  <input type="name" class="form-control" id="floatingInput" placeholder="Full Name">
  <label for="floatingInput">Full name</label>
</div>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<a class="btn btn-primary" href="/views/bloghomepage.handlebars" role="button">Sign Up</a>
<script src="./js/login.js"></script>
